/*
    #1 FEATHERLIGHT
    #2 NAV
    #3 CLOSE
    #4 GALLERY IMAGE
    #5 VIDEO
*/

//---------------------//
//    #1 FEATHERLIGHT
//---------------------//

.featherlight:last-of-type {
    background-color: rgba(0,0,0,0.9);
}

.featherlight {
    padding: 40px;

    @include breakpoint(medium) {

        padding: 60px;
    }

    @include breakpoint(large) {

        padding: 80px;
    }
}

.featherlight-inner {
    //box-shadow: 0 0 30px 2px rgba(0,0,0, 0.8);
}

.featherlight .featherlight-content {
    margin: 0;
    padding: 0;
    background-color: transparent;
    overflow: visible;
}

.featherlight__description {
    display: block;
    padding: 5px 0;
    color: $white;
}



//---------------------//
//    #2 NAV
//---------------------//

.featherlight-previous, .featherlight-next {
    top: 0;

    &:after {
        content: "";
        @include font-awesome;


        // CUSTOM
        position: absolute;
        top: 50%;
        opacity: 0.6;
        margin-top: -25px;
        font-size: 50px;
        line-height: 50px;
        color: $white;
        transition: 0.1s;
    }


    // HOVER
    &:hover {
        background-color: transparent;

        &:after {
            opacity: 1;
        }
    }
}

.featherlight-next {
    right: 0;

    &:after {
        content: "\f105";
        right: -35px;
    }
}

.featherlight-previous {
    left: 0;

    &:after {
        content: "\f104";
        left: -35px;
    }
}



//---------------------//
//    #3 CLOSE
//---------------------//

.featherlight .featherlight-close-icon {
    top: -45px;
    right: -45px;

    width: 45px;
    height: 45px;

    background-color: transparent;
    border-radius: 100%;
    border: 2px solid transparent;

    text-align: center;
    color: transparent;

    transition: 0.4s;

    &::after {
        content: "";

        position: absolute;
        top: 50%;
        left: 50%;

        display: block;
        width: 60px;
        height: 60px;
        margin-top: -30px;
        margin-left: -30px;

        cursor: pointer;
        opacity: 0.8;
        pointer-events: all;

        background-image: url('../assets/icons/close-icon.svg');
        background-size: cover;

        transition: 0.5s;
    }


    // HOVER
    &:hover {
        border: 2px solid $white;
        background-color: rgba($primary-client-color, 0.8);

        transform: rotate(90deg);

        &::after {
            opacity: 1;
        }
    }
}

.gallery__loader {
    display: block;
    width: 60px;
    margin: auto;
}




//---------------------//
//    #5 VIDEO
//---------------------//

.featherlight-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.featherlight-iframe .featherlight-content {
    max-width: 1200px;
    width: 100%;

    .featherlight-close-icon {
        color: transparent;
        font-size: 0;
    }
}

.featherlight__video {
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
    max-width: 1200px;
    height: 100%;

    video[poster] {
        height:100%;
        width:100%;
    }


    // Media styles
    @include breakpoint(xlarge) {

        min-width: 1200px;
    }
}
