.layout-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $dark-blue;

    color: $white;

    a {
        color: $gold;
    }

    input {


        // Focus state
        &:focus {
            border: 1px solid $gold;
        }
    }


    // Graphics footer
    &::before {
        content: '';

        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        display: block;
        width: 100%;
        height: 130px;
        margin: 0;

        background-repeat: no-repeat;
        background-image: url('/assets/images/supergrafik-logo.svg');
        background-position: center center;
    }
}

.footer__headline {
    margin-bottom: 50px;

    color: $white;
}
