
/*
	#1 FONT-SIZE
    #2 LINE HEIGHT TOOLS
*/

//---------------------//
//    #1 FONT SIZE
//---------------------//

$kgr-rem-font-size: 16px !default;

@function kgr-rem($target) {
	@if $target == 0 {
		@return 0;
	}

	@return $target / $kgr-rem-font-size * 1rem;
}

@mixin kgr-rem($target) {
    font-size: kgr-rem($target);
}




//---------------------//
//    #2 LINE HEIGHT TOOLS
//---------------------//

// Dependency
$kgr-rem-font-size: 16px !default;

//
// Calculate unitless line height
//
@function kgr-line-height($line-height, $font-size: $kgr-rem-font-size) {
	// Convert PSD `auto` value
	@if $line-height == auto {
		@return 1.2;
	}

	@return $line-height / $font-size;
}

//
// Set unitless line height
//
@mixin kgr-line-height($line-height, $font-size: $kgr-rem-font-size) {
	line-height: kgr-line-height($line-height, $font-size);
}
