/*
    #1 FONT AWESOME
    #2 PLACEHOLDER
    #3 SCREEN READER TOOLS
    #4 QUANTITY EXACTLY
*/

//---------------------//
//    #1 FONT AWESOME
//---------------------//

@mixin font-awesome {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}




//---------------------//
//    #2 PLACEHOLDER
//---------------------//

@mixin kgr-placeholder ($color: #ccc, $font-weight: 400){

    &::-webkit-input-placeholder { /* Chrome, Safari, Opera */
        color: $color;
        font-weight: $font-weight;
    }

    &::-moz-placeholder {  /* Firefox */
        color: $color;
        font-weight: $font-weight;
    }

    &:-ms-input-placeholder { /* IE10–11 */
        color: $color !important;
        font-weight: $font-weight !important;
    }

    &::-ms-input-placeholder { /* Edge */
        color: $color;
        font-weight: $font-weight;
    }

    &::placeholder { /* CSS Working Draft */
        color: $color;
        font-weight: $font-weight;
    }
}




//---------------------//
//    #3 SCREEN READER TOOLS
//---------------------//
//
// Only display element (and more importantly its text) to screen readers,
// searchbots, etc.
//
@mixin kgr-screen-reader-only() {
    position: absolute !important;
    overflow: hidden !important;
    clip: rect(1px, 1px, 1px, 1px) !important;

    width: 1px !important;
    height: 1px !important;
}




//---------------------//
//    #4 QUANTITY EXACTLY
//---------------------//

@mixin quantity-exactly($n, $item-selector: div, $by-type: false) {
    @if $by-type {
        &:nth-last-of-type(#{$n}):nth-of-type(1),
        &:nth-last-of-type(#{$n}):nth-of-type(1) ~ #{unquote($item-selector)} {
            @content;
        }
    } @else {
        &:nth-last-child(#{$n}):first-child,
        &:nth-last-child(#{$n}):first-child ~ #{unquote($item-selector)} {
            @content;
        }
    }
}
