/*
    #1 H1
    #2 H2, H3, H4, H5, H6
    # OTHER FONTS
*/

//---------------------//
//    #1 H1
//---------------------//

h1 {
    margin: $h1-margin-size-small;
    font-size: kgr-rem($h1-font-size - $h1-font-size-reduction);
	line-height: kgr-line-height(60px, $h1-font-size);
    font-family: $font-stack-headings;


	// Media styles
    @include breakpoint(medium) {

        margin: $h1-margin-size-medium;
        font-size: kgr-rem($h1-font-size);
    }
}




//---------------------//
//    #2 H2, H3, H4, H5, H6
//---------------------//

h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 15px;

    font-size: kgr-rem($h2-font-size - $h2-font-size-reduction);
    font-weight: 700;
    font-family: $font-stack-headings;

    line-height: kgr-line-height(30px, $h2-font-size);


    // Media styles
    @include breakpoint(medium) {

        margin-bottom: 25px;
        font-size: kgr-rem($h2-font-size);
    }
}




//---------------------//
//    #3 OTHER FONTS
//---------------------//

.heading {


    /*-----------------*/
    /*    MODIFIERS
    /*-----------------*/

    &--1 {
        font-weight: 400;
        font-family: $font-stack-headings;
        font-size: kgr-rem($heading-1-font-size - $heading-1-font-size-reduction);
        line-height: kgr-line-height(60px, $heading-1-font-size);


        // Media styles
        @include breakpoint(medium) {

            font-size: kgr-rem($heading-1-font-size);
            line-height: kgr-line-height(60px, $heading-1-font-size);
        }
    }

    &--2 {
        font-weight: 400;
        font-family: $font-stack-headings;
        font-size: kgr-rem($heading-2-font-size - $heading-2-font-size-reduction);
        line-height: kgr-line-height(35px, $heading-2-font-size);


        // Media styles
        @include breakpoint(medium) {

            font-size: kgr-rem($heading-2-font-size);
            line-height: kgr-line-height(35px, $heading-2-font-size);
        }
    }

    &--3 {
        font-weight: 400;
        font-family: $font-stack-headings;
        font-size: kgr-rem($heading-3-font-size - $heading-3-font-size-reduction);
        line-height: kgr-line-height(30px, $heading-3-font-size);


        // Media styles
        @include breakpoint(medium) {

            font-size: kgr-rem($heading-3-font-size);
            line-height: kgr-line-height(30px, $heading-3-font-size);
        }
    }
}






















/**/
