body{
    // font style
	font-weight: 400;
	color: $black;


	// make the font look good
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	
    font-size: kgr-rem($paragraph-font-size - $paragraph-font-size-reduction);


	// Media styles
	@include breakpoint(medium) {

		font-size: kgr-rem($paragraph-font-size);
	}
}

a {
	color: $anchor-color;
	text-decoration: $anchor-decoration;


	// Hover styles
	&:hover {
		color: $anchor-hover-color;
		text-decoration: $anchor-hover-decoration;
	}

	&:active,
	&:focus {
		color: $anchor-color;
		text-decoration: $anchor-decoration;
	}
}

address {
	font-style: normal;
}

blockquote {
	position: relative;
	max-width: $blockquote-max-width;
	margin: $blockquote-margin-small;
	padding: $blockquote-padding-small;
	border-left: $blockquote-border-size solid $blockquote-border-color;

	&::before {
		content: "\f10e";
		@include font-awesome;


		// Custom
		position: absolute;
		top: -10px;
		left: 10px;
		font-size: 40px;
		line-height: 40px;
		opacity: 0.2;
	}

	cite {
		text-align: right;
	}

	@include breakpoint(medium) {

		margin: $blockquote-margin-medium;
		padding: $blockquote-padding-medium;
	}
}
