input[type="search"] {
    box-sizing: border-box;
}

[type=text], [type=password], [type=date], [type=datetime], [type=datetime-local], [type=month], [type=week], [type=email], [type=number], [type=search], [type=tel], [type=time], [type=url], [type=color] {
    height: $button-height;
    
    font-style: italic;
    font-family: $form-font-stack;
}
