main {
    ul {
        list-style: none;
        margin: $ul-margin;
        padding-left: $ul-padding;

        li::before {
            content: "• ";
            color: $primary-client-color;
        }
    }
}
