noscript {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    display: block;
    padding: 20px;
    background-color: #fce6e2;
    border-bottom: 1px solid $lightGrey;
    text-align: center;
    font-weight: 700;
    color: $lightBlack;
}
