html,
body {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;

    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

html {
    background-color: $html-background-color;
}

body {
    background-color: $body-background-color;

    &.is-reveal-open {
        overflow-y: scroll;
    }
}

main {
    //background-color: $main-background-color;
}


::selection {
    background-color: $selection-background-color;
    color: $selection-color;
}


.hidden-svg {
    display: none
}
