.layout-header__container {
    max-width: $layout-header-max-width;
    margin: 0;
}

.layout-header {
    position: fixed;
    left: 0;
    z-index: 2;

    width: 100%;
    padding: 20px 0;



    // Sticky styling
    &.sticky {
        padding: 10px 0;

        background-color: $white;
        box-shadow: $dcum-bottom-box-shadow;

        .layout-logo {
            img {
                width: auto;
                height: 50px;
            }
        }
    }
}
