.layout-logo {
    margin-right: 10px;

    img {
        max-width: 320px;
    }

    a {


        // Hover styles
        &:hover,
        &:focus,
        &:active {
            outline-color: $primary-client-color;
        }
    }
}
