.menu-toggle {
    position: relative;

    height: 50px;
    margin-left: 10px;

    padding: 15px 20px 15px 40px;

    background-color: $white;
    border: 1px solid $purple;

    font-size: 20px;
    line-height: 1;
    color: $purple;

    transition: 0.1s;


    // Hover styles
    &:hover,
    &:focus,
    &:active {
        outline: none;

        background-color: $purple;
        color: $white;

        .menu-toggle__button-line {
            background-color: $white;
        }
    }
}

.menu-toggle__button {
    width: 23px;
    height: 20px;
}

.menu-toggle__label {
    position: relative;
    top: -1px;

    margin-left: 10px;

    line-height: 1;
    font-family: $font-stack-headings;
}

.menu-toggle__button-line {
    position: absolute;
    top: 14px;
    left: 18px;
    display: block;
    width: 23px;
    height: 3px;
    transition: 0.1s;

    background-color: $purple;
    border-radius: 2px;


    &:nth-child(2) {
        top: 22px;
    }

    &:nth-child(3) {
        top: 30px;
    }
}
