.site-navigation__portals {
    padding: 8vh 3vh;
}

.site-navigation__portals-list {
}

.site-navigation__portals-item {
    margin-bottom: 25px;

    &:last-child {
        margin-bottom: 0;
    }

    a {
        display: block;
        margin-bottom: 10px;

        transition: $dcum-hover-transition;
    }
}
