.site-navigation__menu.site-navigation__menu {
    padding: 8vh 3vh;

    li {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            font-weight: 700;
            font-size: kgr-rem(18px);

            transition: $dcum-hover-transition;
        }
    }
}
