.site-navigation__contact-info {
    padding: 8vh 3vh;

    .social-media {
        position: absolute;
        bottom: 60px;
        right: 40px;
    }


    // Media styles
    @include breakpoint(large) {

        .social-media {
            bottom: 125px;
        }
    }
}
