.site-navigation {
    color: $white;


    a {
        color: $white;


        // Hover styles
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            color: $primary-client-color;
        }
    }
}

.site-navigation__row {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.site-navigation__close {
    margin: 30px 30px 0 0;

    font-weight: 700;
    line-height: 1;

    transition: $dcum-hover-transition;


    // Hover styles
    &:hover,
    &:focus,
    &:active {
        color: $primary-client-color;
    }
}
