// Regular
@font-face {
    font-family: 'Breuer';
    src:url("/assets/fonts/Breuer-Light.eot");
    src:url("/assets/fonts/Breuer-Light.eot?#iefix") format("embedded-opentype"),
        url("/assets/fonts/Breuer-Light.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

// Bold
@font-face {
    font-family: 'Breuer';
    src:url("/assets/fonts/Breuer-Bold.eot");
    src:url("/assets/fonts/Breuer-Bold.eot?#iefix") format("embedded-opentype"),
        url("/assets/fonts/Breuer-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

// Bold italic
@font-face {
    font-family: 'Breuer';
    src:url("/assets/fonts/Breuer-BoldItalic.eot");
    src:url("/assets/fonts/Breuer-BoldItalic.eot?#iefix") format("embedded-opentype"),
        url("/assets/fonts/Breuer-BoldItalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;;
}

// Italic
@font-face {
    font-family: 'Breuer';
    src:url("/assets/fonts/Breuer-Italic.eot");
    src:url("/assets/fonts/Breuer-Italic.eot?#iefix") format("embedded-opentype"),
        url("/assets/fonts/Breuer-Italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}
