.infobox-wrapper {
    display: none;
}

.infoBox {
    width: $maps-infobox-width;
    height: auto;
    margin: 0 0 0 40px;
    padding: $maps-infobox-padding;
    background: none !important;
    background-color: $maps-infobox-background;
    box-shadow: $maps-infobox-box-shadow;
    border-radius: $global-radius;
    color: $maps-infobox-color;

    p,
    a {
        margin: 0;
        font-size: kgr-rem($paragraph-font-size - $paragraph-font-size-reduction);
        line-height: kgr-line-height(26px, $paragraph-font-size);
    }

    address {
        display: block;
        margin-bottom: 10px;
        font-size: kgr-rem($paragraph-font-size - $paragraph-font-size-reduction);
        line-height: kgr-line-height(26px, $paragraph-font-size);
    }

    img {
        position: absolute !important;
        right: 0;
        opacity: 0;
        width: 40px;
        height: 40px;
        margin: 0 !important;
    }

    &:before {
        content: "\f00d";
        position: absolute;
        top: 5px;
        right: 15px;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: $white;
        font-size: 20px;
        transition: 0.2s;
    }
}

.infobox-heading {
    margin: 0 0 10px 0;
    font-size: kgr-rem($paragraph-font-size - $paragraph-font-size-reduction);
    line-height: kgr-line-height(20px, $paragraph-font-size);
    color: $white;


    // Media styles
    @include breakpoint(medium) {

        font-size: kgr-rem($paragraph-font-size);
    }
}
