.article-header {
    position: relative;
    overflow: hidden;

    min-height: calc(100% - 50px);
    margin-top: 30px;

    background-size: cover;
    background-position: center center;

    // Modifiers
    &--no-shape {
        color: $white;

        margin-bottom: 20px;

        p,
        .button {
            position: relative;
            z-index: 1;
        }

        .button {
            position: absolute;
            bottom: 40px;
            right: 40px;

            margin: 0;
        }
    }
}


.article-header__content {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    max-width: 485px;
    padding: 40px;


    // The skew shape at the bottom
    &::after {
        content: '';

        position: absolute;
        bottom: -18px;
        left: 0;

        width: 100%;
        height: 200%;

        background-color: rgba($dark-blue, 0.9);

        transform: skewY(-$dcum-y-skew);
    }


    // Modifiers
    .article-header--no-shape & {
        left: auto;
        right: 0;
        bottom: 0;

        max-width: 380px;

        &::after {
            top: 0;
            z-index: 0;

            height: 100%;

            transform: none;
        }
    }
}

.article-header__titel {
    position: relative;
    z-index: 1;

    margin: 0;

    color: $white;

    // Modifiers
    &--box-item {
        margin-bottom: 25px;
    }

    .article-header--no-shape & {
        margin-bottom: 35px;
    }
}

.article-header__time,
.article-header__update {
    position: relative;
    z-index: 1;

    display: inline-block;

    color: $white;
    font-family: $font-stack-headings;


    // Modifiers
    .box-item--no-image & {
        color: $black;
    }
}

.article-header__time {
    margin-bottom: 35px;

    font-weight: 700;


    // Modifiers
    &--box-item {
        margin-bottom: 25px;
    }
}

.article-header__author {
    position: relative;
    z-index: 1;

    color: $white;
    font-size: kgr-rem(14px);


    // Modifiers
    .box-item--no-image & {
        color: $black;
    }
}
