.article-navigation {
    overflow: hidden;

    margin: 30px 0 20px 0;
    padding: 25px 20px;

    background-color: $redwine;
}

.article-navigation__headline {
    margin-bottom: 40px;

    color: $white;
}
