.article-print {
    position: relative;
    z-index: 1;

    margin-top: 10px;
    margin-bottom: -($text-column-gutter / 2);

    transition: $dcum-hover-transition;

    .fa {
        font-size: kgr-rem(20px);
        line-height: kgr-rem(20px);

        color: $primary-client-color;

        transition: $dcum-hover-transition;
    }


    // Hover styles
    &:hover,
    &:active,
    &:focus {
        transform: $dcum-hover-scale;
    }
}


.article-print__text {
    margin-right: 10px;

    color: $primary-client-color;

    font-size: kgr-rem(18px);
    font-family: $font-stack-headings;
    line-height: kgr-rem(20px);
}
