.calender-feed {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 30px;

    background-color: $sand;

    &::before {
        content: "";

        position: absolute;
        top: 0;
        left: -100vw;
        bottom: 0;

        width: 100vw;

        background-color: $sand;
    }

    a {
        font-weight: 700;
        color: $black;
    }
}

.calender-feed__headline {
    margin-bottom: 60px;

    color: $dark-blue;
}

.calender-feed__time {
    font-weight: 700;
    font-size: kgr-rem($button-font-size);
    font-family: $font-stack-headings;

    &::after {
        content: '/';
        margin-left: 5px;
        font-weight: 400;
    }
}

.calender-feed__article {
    margin-bottom: 50px;

    &:last-child {
        margin-bottom: 0;
    }


    // Hover styles
    &:hover,
    &:focus,
    &:active{
        a {
            text-decoration: none;
        }
    }
}


.calender-feed__titel {
    margin: 0 0 15px 0;

    color: $black;


    // Hover styles
    &:hover,
    &:focus,
    &:active{
        color: $primary-client-color;
    }
}

.calender-feed__list {
    padding-left: calc(25% + 10px);
}

.calender-feed__item {
    display: inline-block;
    margin-right: 25px;
    @include clearfix;

    p,
    time {
        margin: 0;

        font-size: kgr-rem(14px);
        font-family: $font-stack-headings;
        line-height: 1;
    }

    .fa {
        position: relative;
        top: -2px;

        margin-right: 10px;

        font-size: kgr-rem(14px);
        line-height: 1;
        color: $dark-blue;
    }
}
