.click-nav {
    position: fixed;
    top: 50%;
    right: -60px;
    opacity: 0;
    z-index: 2;

    width: 50px;
    height: 50px;

    background-color: $primary-client-color;
    border-radius: 100%;

    text-align: center;

    animation: slideIn 1s ease 4s forwards;
    animation-iteration-count: 1;

    transition: 0.1s;

    .fa {
        position: absolute;
        right: 0;
        left: 0;

        color: $white;
        font-size: 26px;
        line-height: 50px;
    }


    // Hover styles
    &:hover,
    &:active,
    &:focus {
        transform: scale(1.1);
    }
}

.click-nav__prev,
.click-nav__next {
    opacity: 0;
    visibility: hidden;

    cursor: pointer;

    transition: 0.1s;

    &.show {
        opacity: 1;
        visibility: visible;
    }
}

.click-nav__prev {
    margin-top: -80px;
}

.click-nav__next {
    margin-top: -25px;
}
