.feeds {
    overflow: hidden;
}

.feeds__close {
    transition: $dcum-hover-transition;
    

    // Hover styles
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: $primary-client-color;
    }
}
