.news-feed {
    position: relative;

    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 30px;

    background-color: $baby-blue;

    &::before {
        content: "";

        position: absolute;
        top: 0;
        right: -100vw;
        bottom: 0;

        width: 100vw;

        background-color: $baby-blue;
    }

    a {
        font-weight: 700;
        color: $black;
    }
}

.news-feed__headline {
    margin-bottom: 60px;

    color: $primary-client-color;
}

.news-feed__article {
    margin-bottom: 60px;

    &:last-child {
        margin-bottom: 0;
    }


    // Hover styles
    &:hover,
    &:active,
    &:focus {
        a {
            text-decoration: none;
        }
    }
}

.news-feed__titel {
    color: $black;


    // Hover styles
    &:hover,
    &:active,
    &:focus {
        color: $primary-client-color;
    }
}
