.portals {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;


    a {


        // Hover styles
        &:focus,
        &:active {
            outline: none;

            p {
                color: $primary-client-color;
            }
        }
    }
}

.portals__item {
    position: relative;
    height: 150px;

    background-color: rgba($black, 0.8);

    transition: $dcum-hover-transition;



    // Highlightet item
    &.highlight {
        background-color: rgba($redwine, 1);
    }


    // Hover styles
    &:hover,
    &:focus,
    &:active {
        background-color: rgba($primary-client-color, 0.8);

        &.highlight {
            background-color: $primary-client-color;
        }
    }
}

.portals__link {
    @include vertical-center;

    padding-right: 15px;
    padding-left: 15px;

    margin: 0;

    color: $white;


    // Media styles
    @include breakpoint(medium) {

        padding-right: 30px;
        padding-left: 30px;
    }
}
