/*
    #1 PACKERY
    #2 PACKERY CAPTION
    #3 PACKERY MODIFIERS
*/

//---------------------//
//    #1 PACKERY
//---------------------//

.packery {
    //padding-top: ($packery-padding-top - $packery-padding-reduction);
    //padding-bottom: ($packery-padding-bottom - $packery-padding-reduction);
    background-color: $packery-background-color;
    border-top: $packery-border;
    border-bottom: $packery-border;


    a {
        outline: none;
    }

    // Media styles
    @include breakpoint(medium) {

        //padding-top: $packery-padding-top;
        //padding-bottom: $packery-padding-bottom;
    }
}

.packery__list {
    margin: 0;
    padding: 0;


    // Media styles
    @include breakpoint(medium) {

        margin: 0 - ($packery-gutter);
    }
}

.packery__item {
    position: relative;
    width: 100%;
    padding: 0;
    margin-bottom: $packery-gutter;
    float: left;
    list-style: none;
    background-color: $packery-background-color;
    border-radius: $packery-border-radius;

    img {
        display: block;
        max-width: none;
        width: 100%;
    }

    &::before {
        content: none;
    }


    // Hover styles
    &:hover,
    &:active,
    &:focus {
        .packery__image {
            &::after {
                background-color: rgba(0, 0, 0, 0.2);
            }
        }
    }


    // Media styles
    @include breakpoint(medium) {


        width: calc(50% - #{$packery-gutter * 2});
        margin: $packery-gutter;
    }

    @include breakpoint(large) {


        width: calc(25% - #{$packery-gutter * 2});
    }
}

.packery__image {
    position: relative;
    display: block;
    width: 100%;
    max-width: none;
    //background-size: cover;
    //background-position: center center;
    border-radius: $packery-border-radius;
    outline: none;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.4);
        transition: 0.2s;
    }
}


//---------------------//
//    #2 PACKERY CAPTION
//---------------------//

.packery__caption {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    padding: 0 15px;
    color: $white;
    text-align: center;
    transform: translateY(-50%);

    h2,
    p {
        margin: 0;
        color: $white;
    }
}


//---------------------//
//    #3 PACKERY ITEM
//---------------------//

.packery__item {

    // Width styling
    @include breakpoint(medium) {

        &.width-1 {
        }

        &.width-2 {
            width: calc(100% - #{$packery-gutter * 2});
        }
    }

    @include breakpoint(large) {

        &.width-1 {

        }

        &.width-2 {
            width: calc(50% - #{$packery-gutter * 2});
        }
    }
}




//---------------------//
//    #4 PACKERY SLIDER
//---------------------//

.packery-slider {
    .packery__image {
        &::after {
            content: none;
        }
    }
}
