.breadcrumbs {
    margin-left: 10px;
    margin-right: 10px;

    font-family: $font-stack-headings;

    li {
        position: relative;

        &:last-child {
            margin-right: 0;

            &::after {
                content: none;
            }
        }

        &::after {
            content: '›';

            position: relative;
            top: -1px;

            margin-left: 10px;

            color: $black;
            font-weight: 400;
        }

        a {

            transition: $dcum-hover-transition;


            // Hover styles
            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
            }
        }


        // Styling of the current item
        &.current {
            font-weight: 700;
        }
    }


    /*-----------------*/
    /*    MODIFIERS
    /*-----------------*/

    // Styling of the breadcrumbs in the search results
    &--in-search {
        margin: 25px 0;

        li {
            a {
                color: $primary-client-color;
                font-weight: 700;


                // Hover styles
                &:hover,
                &:focus,
                &:active {
                    color: $black;
                }
            }

            &::after {
                color: $primary-client-color;
                font-weight: 700;
            }

            // Styling of the current item
            &.current {
                a {
                    color: $black;
                }
            }
        }
    }
}

.breadcrumbs__container {
    padding: 70px 0 0 0;

    background-color: $baby-blue;
}
