.button {
    margin-right: 10px;

    font-family: $font-stack-headings;
    transition: $dcum-hover-transition;

    // Hover styles
    &:hover,
    &:focus,
    &:active {

        text-decoration: none;
    }
}

.button.button--newest-materials {
    margin-bottom: 0;

    @include button-style($black, $primary-client-color, $white);
}

.button.button--newsletter {
    margin: 0;

    @include button-style($purple, $primary-client-color, $white);


    // Hover styles
    &:hover,
    &:focus,
    &:active {

        background-color: $purple-contrast;
    }
}

.button.hollow {

    @include button-style(transparent, $white, $white);

    border: 1px solid $white;


    // Hover styles
    &:hover,
    &:focus,
    &:active {

        border: 1px solid $white;

        color: $black;
    }
}


.button.button--footer {
    @include button-style($gold, $primary-client-color, $white);


    // Hover styles
    &:hover,
    &:focus,
    &:active {

        background-color: $gold-contrast;
    }
}

.button.feature-content__button {
    @include button-style(transparent, $purple, $purple);
    border: 1px solid $purple;


    // Hover styles
    &:hover,
    &:focus,
    &:active {
        background-color: $purple;

        color: $white;
    }
}
