.calculator {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $army-green;

    input {


        // Focus state
        &:focus {
            border: 1px solid $purple;
        }
    }

    .button--newsletter {


        // Focus state
        &:focus {
            outline-color: $white;
        }
    }


    // Super graphics
    &::before {
        content: '';

        position: absolute;
        top: -155px;
        right: 0;
        left: 0;
        z-index: 0;

        width: 100%;
        max-width: $grid-row-width;
        height: 155px;
        margin: auto;

        background-image: url('/assets/images/supergrafik.svg');
        background-repeat: no-repeat;
        background-position: center right;
    }
}

.calculator__headline {
    color: $white;
}

.calculator__form {
    margin: 40px -5px 0 -5px;
}

.calculator__figure {
    position: relative;
    margin: 0 0 65px 0;

    color: $white;

    figcaption {
        margin-bottom: 40px;

        color: $white;
    }
}

.calculator__result,
.calculator__from,
.calculator__to {
    position: absolute;

    margin: 0;
}

.calculator__result {
    left: 0;
    right: 0;
    bottom: 0;

    color: $white;
    line-height: 1;
}

.calculator__from {
    left: 7%;
}

.calculator__to {
    right: 7%;
}

.calculator__content {
    max-width: 300px;
    margin: auto;

    color: $black;

    span {
        color: $white;
    }
}
