.content-wrapper {
    position: relative;
    min-height: 100%;

    background-color: $white;
    box-shadow: $dcum-bottom-box-shadow;

    &--colored {
        background-color: $switch-grey;
    }
}
