.feature-article {
    position: relative;

    overflow: hidden;

    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $baby-blue;
}

.feature-article__image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    width: calc(50% - 80px);
    height: 100%;

    background-size: cover;
    background-position: center center;

    &::before,
    &::after {
        content: '';

        position: absolute;
        left: 0;
        right: 0;

        background-color: $baby-blue;
    }

    &::before {
        top: 0;
        width: 100%;
        height: 60px;
    }

    &::after {
        bottom: -190px;

        width: calc(100% + 190px);
        height: 250px;
        transform: rotate(-$dcum-y-skew);
    }
}

.feature-article__content {
    position: relative;
    z-index: 1;
}

.feature-article__content-headline {
    color: $primary-client-color;
}
