.navigation-list {
    margin: 0;
    padding: 0;

    li {
        position: relative;

        margin-bottom: 10px;
        padding-left: 15px;

        line-height: 1.3;
        font-size: kgr-rem(14px);

        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            content: '›';

            position: absolute;
            top: 0;
            left: 0;

            color: $white;
        }

        a {
            color: $white;
            font-size: 14px;
            line-height: 1;
        }


        // Styling of current item
        &.current {
            a {
                text-decoration: underline;
            }
        }
    }
}
