.newest-materials {
    position: relative;
    overflow: hidden;

    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $white;
}

.newest-materials__headline {
    margin-bottom: 60px;

    color: $primary-client-color;
}

.newest-material:not(.more-materials) {
    position: relative;
    z-index: 1;
}

.newest-material {
    padding-right: 75px;

    img {
        display: block;
        max-width: none;
        width: auto;
        height: 285px;
    }

    a {


        // Hover styles
        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
        }
    }
}

.newest-material__titel {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: 90px; /* Fallback for non-webkit */
    margin-top: 30px;

    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    color: $black;


    // Hover styles
    &:hover,
    &:focus,
    &:active {
        color: $primary-client-color;
    }
}

.newest-material__paragraph {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: 80px; /* Fallback for non-webkit */
    margin-top: 25px;

    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    overflow: hidden;

    color: $black;
}

.more-materials {
    position: relative;


    // Super graphics
    &::before {
        content: '';

        position: absolute;
        bottom: -60px;
        right: -205%;
        z-index: 0;

        width: 1600px;
        height: 100%;

        background-image: url('../assets/images/supergrafik-grey.svg');
        background-repeat: no-repeat;
        background-position: bottom right;
    }
}

.more-materials__link {
    position: absolute;
    top: 50%;

    margin: 0;

    transition: $dcum-hover-transition;
    transform: translateY(-50%);

    span {
        display: block;
        width: 100%;
        margin-bottom: 110px;
        padding: 15px 15px 0 15px;

        font-family: $form-font-stack;
        font-style: italic;
        font-size: kgr-rem(36px);
        line-height: kgr-line-height(44px, 36px);
        color: $black;
        text-align: center;
    }

    img {
        height: auto;
    }


    // Next icon
    .more-materials__button {
        width: 100px;
        margin: auto;

        transition: $dcum-hover-transition;
    }


    // Hover styles
    &:hover,
    &:focus,
    &:active {

        .more-materials__button {
            transform: $dcum-hover-scale;
        }
    }


    // Media styles
    @include breakpoint(medium) {

        span {
            padding: 30px 30px 0 30px;
        }
    }
}
