.newsletter {
    position: relative;

    padding: 30px 0;

    background-color: $primary-client-color;


    .button--newsletter {


        // Focus state
        &:focus {
            outline-color: $gold;
        }
    }
}

.newsletter__headline {
    margin: 0;
    padding-right: 20px;

    color: $white;
    line-height: $button-height;

    text-align: right;
}

.newsletter__input {
    margin: 0;


    // Focus state
    &:focus {
        border: 1px solid $purple;
    }
}
