.pagination.pagination {
    margin: 0 0 60px 0;

    li {
        width: 30px;
        height: 30px;

        background-color: $pagination-item-background;

        line-height: 30px;

        a {
            border-radius: $pagination-radius;

            transition: $dcum-hover-transition;

            &::after,
            &::before {
                margin: 0;

                font-size: kgr-rem(18px);
            }


            // Hover styles
            &:hover,
            &:active,
            &:focus {
                text-decoration: none;
                color: $pagination-item-color;
            }
        }

        &:last-child {
            margin-right: 0;
        }


        // Styling of current page
        &.current {
            background-color: $pagination-item-background-current;
        }
    }
}
