.parallax {
    position: relative;

    padding-top: 130px;
    padding-bottom: 130px;

    background-size: cover;
    background-attachment: fixed;
    background-position: center center;

    &::after {
        content: '';

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background-color: rgba(0, 0, 0, 0.6);
    }
}

.parallax-content {
    position: relative;
    z-index: 1;

    color: $white;

    .button {
        margin-right: 10px;
    }
}

.parallax-content__headline {
    margin-bottom: 40px;

    color: $white;
}
