.social-share {
    padding: 30px 0;
    @include clearfix;

    background-color: $baby-blue;
}

.social-share__headline {
    margin: 0;
    padding-right: 20px;

    color: $black;
    line-height: 40px;
}

.social-share__item {
    height: 40px;

    &:last-child {
        margin-right: 0;
    }
}

.social-share__facebook,
.social-share__linkedin,
.social-share__google,
.social-share__mail {

    a {
        display: block;

        .fa {
            width: 100%;

            font-size: kgr-rem(20px);
            line-height: 40px;
            color: $white;

            transition: $dcum-hover-transition;
        }
    }
}

.social-share__facebook {
    .fa {
        background-color: $facebook-color;
    }


    // Hover styles
    &:hover,
    &:active,
    &:focus {
        .fa {
            background-color: $facebook-contrast;
        }
    }
}

.social-share__linkedin {
    .fa {
        background-color: $linkedin-color;
    }


    // Hover styles
    &:hover,
    &:active,
    &:focus {
        .fa {
            background-color: $linkedin-contrast;
        }
    }
}

.social-share__google {
    .fa {
        background-color: $google-color;
    }


    // Hover styles
    &:hover,
    &:active,
    &:focus {
        .fa {
            background-color: $google-contrast;
        }
    }
}

.social-share__mail {
    .fa {
        background-color: $black;
    }


    // Hover styles
    &:hover,
    &:active,
    &:focus {
        .fa {
            background-color: $black-contrast;
        }
    }
}
