.social-media__headline {
    margin-bottom: 30px;
}

.social-media__item {
    display: inline-block;
    margin-right: 15px;

    &:last-child {
        margin-right: 0;
    }

    .fa {
        font-size: kgr-rem(25px);
        color: $white;

        transition: $dcum-hover-transition;
    }


    // Hover styles
    &:hover,
    &:focus,
    &:active {

        .fa {
            color: $gold;
        }
    }
}
