.hero__slider {
    .slick-dots {
        position: absolute;
        top: 395px;
        left: -45px;
        right: 0;

        max-width: $hero-caption-width;
        width: 100%;
        margin: 25px 0 0 0;
        padding: 0;

        list-style: none;

        color: transparent;
        text-align: right;

        transform: rotate(-4deg);

        li {
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-right: 10px;

            &::before {
                content: none;
            }

            button {
                width: 8px;
                height: 8px;

                background-color: $primary-client-color;
                border-radius: 100%;

                outline: none;

                transition: $dcum-hover-transition;
            }


            // Styling of active slick dot
            &.slick-active {

                button {
                    background-color: $white;
                }
            }


            // Hover styling
            &:hover,
            &:focus,
            &:active {
                button {
                    background-color: $white;
                }
            }
        }
    }
}

.hero-slider__dots-row {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
