.hero__slider-caption {
    position: absolute;
    top: 0;
    left: 0;

    width: $hero-caption-width;
    height: $hero-caption-height;

    padding: 110px 50px 50px 50px;

    transform: skewY(-$dcum-y-skew);

    &::before {
        content: "";

        position: absolute;
        top: -100vh;
        bottom: 0;
        right: 0;
        left: -100vw;

        width: calc(100vw + $hero-caption-width);
        height: calc(100vh + $hero-caption-height);

        background-color: rgba($black, 0.85);
    }
}

.hero__slider-caption__headline {
    margin: 0;
}

.hero__slider-caption__headline a {
    transition: 0.1s;


    // Hover styles
    &:hover,
    &:focus,
    &:active {
        outline: none;
        color: $primary-client-color;
        text-decoration: none;
    }
}

.hero__slider-caption__paragraph,
.hero__slider-caption__headline a {
    color: $white;
}

.hero__slider-caption__paragraph,
.hero__slider-caption__headline {
    transform: skewY($dcum-y-skew);
}
