.slider__nav-row {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    max-width: $grid-row-width;
    margin: auto;
}

.slider__nav {
    position: absolute;
    top: $hero-caption-height - 50px;
    left: $hero-caption-width - 45px;
}

.hero__slider-next,
.hero__slider-prev {
    position: absolute;
    z-index: 0;

    display: block;

    outline: none;

    background-repeat: no-repeat;
    border-radius: 100%;

    color: transparent;

    transition: $dcum-hover-transition;


    // Hover styles
    &:hover {
        transform: $dcum-hover-scale;
    }
}

.hero__slider-next {
    top: 0;
    left: 20px;

    width: 60px;
    height: 50px;

    background-image: url('/assets/icons/btn-next.svg');
}

.hero__slider-prev {
    top: 20px;
    z-index: 1;

    width: 40px;
    height: 30px;

    background-image: url('/assets/icons/btn-prev.svg');
}
