/*
    #1 CONTENT MARGIN
    #2 LIST STYLE
    #3 VISIBILYTY CLASSES
*/

//---------------------//
//    #1 CONTENT MARGIN
//---------------------//

.content-margin {
    position: relative;
    margin-top: $content-margin-small;
    margin-bottom: $content-margin-small;
    clear: both;

    &::after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }


    // Medis styles
    @include breakpoint(large) {

        margin-top: $content-margin-medium;
        margin-bottom: $content-margin-medium;
    }
}




//---------------------//
//    #2 LIST STYLE
//---------------------//

.no-list-style {
    margin: 0;
    padding: 0;
    list-style: none;

    li::before {
        content: none;
    }
}




//---------------------//
//    #3 VISIBILYTY CLASSES
//---------------------//

.show-for-xlarge {
    @include show-for(xlarge);
}

.hide-for-xlarge {
    @include hide-for(xlarge);
}
