.article-module__container {

    .column--right {
        .article__blockquote {
            padding: 0;

            &::before {
                left: auto;
                right: -100vw;
            }
        }
    }

    .column--left {
        .article__blockquote {
            padding: 0;
        }
    }
}

.article__blockquote {
    position: relative;
    min-height: 100%;

    background-color: $baby-blue;

    .lead {
        color: $primary-client-color;
    }

    &::before {
        content: '';

        position: absolute;
        top: 0;
        bottom: 0;
        left: -100vw;

        width: 100vw;

        background-color: $baby-blue;
    }

    blockquote {
        max-width: none;
        margin: 0;
        padding: 70px;

        @include vertical-center;


        &::before {
            content: none;
        }
    }
}

.article-blockquote__cite {
    position: relative;
    margin-bottom: 40px;
    margin-left: 110px;

    font-size: kgr-rem(14px);
    font-style: normal;
    font-family: $form-font-stack;
    color: $primary-client-color;
    text-align: left;


    // Cite icon styling
    &::before {
        content: none;
    }

    &::after {
        content: '';
 
        position: absolute;
        top: -10px;
        left: -145px;

        width: 130px;
        height: 45px;

        background-image: url('/assets/images/quote.svg');
        background-repeat: no-repeat;
        background-position: center center;
    }
}
