.article__call-to-action {
    position: relative;

    display: table;
    min-width: calc(100% + 1px);
    min-height: calc(100% + 1px);

    background-color: $gold;

    color: $white;


    &::before {
        content: '';

        position: absolute;
        top: 0;
        bottom: 0;
        left: -100vw;

        width: 100vw;

        background-color: inherit;

    }

    .column--right & {

        &::before {
            content: none;
        }

        &::after {
            content:'';

            position: absolute;
            top: 0;
            bottom: 0;
            right: -100vw;

            width: 100vw;

            background-color: $gold;
        }
    }
}

.article__call-to-action__content {
    display: table-cell;
    vertical-align: middle;

    margin: auto;
    padding: 60px 40px;


    p {
        margin-bottom: 30px;

        color: $black;
    }

    .button {
        margin: 0;
    }
}
