.article__image {
    position: absolute;
    top: 0;
    bottom: 0;

    width: 50vw;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;


    // Removes the video play icon
    &::after {
        content: none;
    }
}

.article__image--clear {
    padding-bottom: 56.25%;
}

.article-module__container {
    position: relative;
    overflow: hidden;

    .column--right {
        .article__image {
            right: calc(50% - 50vw);
        }
    }

    .column--left {
        .article__image {
            left: calc(50% - 50vw);
        }
    }

    .full-width {
        max-width: none;
        width: 100%;
        max-height: 650px;
        overflow: hidden;

        .columns {
            width: 100%;
        }

        .article__image {
            width: 100%;
        }
    }
}
