.message {
    position: relative;

    display: table;
    min-width: calc(100% + 1px);
    min-height: calc(100% + 1px);

    background-color: $purple;

    color: $coral;

    // Make the container fill the screen
    &::before {
        content: "";

        position: absolute;
        top: 0;
        bottom: 0;
        left: -100vw;

        width: 100vw;

        background-color: $purple;
    }

    .column--right & {

        &::before {
            content: none;
        }

        &::after {
            content:'';

            position: absolute;
            top: 0;
            bottom: 0;
            right: -100vw;

            width: 100vw;

            background-color: $purple;
        }
    }
}

.message__headline,
.message__text {
    display: inline;
}

.message__headline {
    color: $white;
}

.message__center {
    display: table-cell;
    vertical-align: middle;

    padding: 60px 40px 70px 40px;
}

.message__button.message__button {
    position: absolute;
    bottom: 40px;
    right: 40px;

    margin: 0;
}
