.multiple-columns {
    padding: $module-padding 0;

    padding-left: map-get($grid-column-gutter, small) / 2;
    padding-right: map-get($grid-column-gutter, small) / 2;

    columns: 305px 2;
    column-gap: $text-column-gutter;

    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;

    .lead {
        margin-bottom: $lead-margin-bottom;
    }


    // Media styles
    @include breakpoint(medium) {

        padding-right: map-get($grid-column-gutter, medium) / 2;
        padding-left: map-get($grid-column-gutter, medium) / 2;
    }

    @include breakpoint(large) {

        padding-right: map-get($grid-column-gutter, large) / 2;
        padding-left: map-get($grid-column-gutter, large) / 2;
    }
}
