.one-column {
    padding: $module-padding 0;

    .lead {
        margin-bottom: $text-column-gutter;
    }
}

.article-module__container {

    .columns {
        padding: 0;

        &.column--left {
            .one-column {
                padding-right: $text-column-gutter / 2;
                padding-left: map-get($grid-column-gutter, small) / 2;
            }
        }

        &.column--right {
            .one-column {
                padding-left: $text-column-gutter / 2;
                padding-right: map-get($grid-column-gutter, small) / 2;
            }
        }
    }

    // Media styles
    @include breakpoint(medium) {

        .columns {
            &.column--left {
                .one-column {
                    padding-left: map-get($grid-column-gutter, medium) / 2;
                }
            }

            &.column--right {
                .one-column {
                    padding-right: map-get($grid-column-gutter, medium) / 2;
                }
            }
        }
    }

    @include breakpoint(large) {

        .columns {
            &.column--left {
                .one-column {
                    padding-left: map-get($grid-column-gutter, large) / 2;
                }
            }

            &.column--right {
                .one-column {
                    padding-right: map-get($grid-column-gutter, large) / 2;
                }
            }
        }
    }
}
