.article__image--video.article__image--video {

    .article__image {
        cursor: pointer;

        .play-icon {
            @include absolute-center;
            z-index: 1;

            text-align: center;

            .fa {
                color: transparent;

                box-shadow: 10px 10px 10px $white;
            }

            svg {
                fill: $white;

                display: block;
                max-width: 130px;
                width: 100%;
                height: 100%;
                max-height: 130px;
                margin-right: auto;
                margin-left: auto;
                margin-bottom: 25px;

                transition: $dcum-hover-transition;
            }


            .play-icon__text {
                display: block;

                color: $white;
                line-height: 1;
                font-weight: 700;
                font-family: $font-stack-headings;
                font-size: kgr-rem(18px);

                transition: $dcum-hover-transition;
            }
        }


        &::after {
            content: '';

            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            background-color: rgba($black, 0.25);

            transition: $dcum-hover-transition;
        }


        // Hover styles
        &:hover,
        &:active,
        &:focus {
            .play-icon {
                svg {
                    background-color: rgba($primary-client-color, 0.8);
                    border-radius: 100%;
                }

                .play-icon__text {
                    color: $primary-client-color;
                }
            }

            &::after {
                opacity: 0;
            }
        }
    }
}
