.search__close {
    padding: 20px;

    font-weight: 700;

    transition: $dcum-hover-transition;

    button {


        // Hover styles
        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
            color: $primary-client-color;
        }
    }
}
