.search__results.search__results {
    position: absolute;

    margin: auto;

    opacity: 0;
    visibility: hidden;

    width: calc(100% - (16.66667% + 10px)) !important;
    max-width: $layout-header-max-width;
    height: $search-results-height;
    margin-left: 10px;

    overflow-x: hidden;

    background-color: rgba($white, 0.9);

    transition: 0.2s;

    a,
    button {


        // Focus styles
        &:focus {
            outline-color: $primary-client-color;
        }
    }


    // Styling when shown
    &.focus {
        opacity: 1;
        visibility: visible;
    }
}

.search__result {
    margin-bottom: 50px;
    padding: 0 20px;
}

.search__titel {
    margin: 0;

    color: $black;

    transition: $dcum-hover-transition;


    // Hover styles
    &:hover,
    &:focus,
    &:active {
        color: $primary-client-color;
        text-decoration: none;
    }
}
