.search__input-container {
    position: relative;
    margin-right: 10px;
}

.search__input {
    height: 50px;
    margin: 0 0 0 10px;
    padding: 15px 20px;

    background-color: $white;
    border: 1px solid $purple;
    box-shadow: none;
    box-sizing: border-box;

    color: $black;
    font-size: 20px;

    @include kgr-placeholder($grey);


    // Focus styles
    &:focus {
        background-color: $white;
        border: 1px solid $primary-client-color;
    }
}
