.search__button {
    position: relative;
    margin-top: -38px;
    right: 5px;

    width: 25px;
    height: 25px;

    float: right;

    .fa {
        font-size: 25px;
        line-height: 25px;
        color: $primary-client-color;
    }


    // Focus styles
    &:focus {
        outline-color: $purple;

        .fa {
            color: $purple;
        }
    }


    // Styling of the button
    // when the switch is present
    &--with-switch {
        margin-right: $switch-width + 10px;
    }
}
