.search__switch.search__switch {
    position: relative;
    margin-top: -38px;

    width: $switch-width;
    margin-left: 15px;

    float: right;

    color: $black;


    // Styling of the track
    &::before {
        content: '';

        position: absolute;
        top: 0;
        left: 3px;
        bottom: 0;

        width: 4px;
        height: 26px;

        background-color: $switch-grey;
        border-radius: 2px;
    }

    .switch-paddle {
        width: 100%;
        left: 0;


        // Styling of the switch icon
        &::after {
            top: 0;
            left: 0;

            width: 10px;
            height: 10px;

            border: 3px solid $primary-client-color;
            box-shadow: 0 0 2px rgba($black, 0.6);
        }
    }


    // Styling of the switch when checked
    input:checked~.switch-paddle::after {
        top: 16px;
        left: 0;
    }

    input:checked+label>.switch-inactive {
        color: $primary-client-color;
    }

    input:checked+label>.switch-active {
        color: $switch-grey;
    }
}


.search__switch-text.search__switch-text.search__switch-text {
    position: relative;
    top: auto;
    right: auto;
    left: 16px;

    display: block;

    font-size: kgr-rem(12px);
    font-weight: 400;
    line-height: 1;
    color: $switch-grey;

    transform: translateY(0%);

    transition: $switch-paddle-transition;


    // Active switch styling
    &.switch-active {
        margin-top: -1px;

        color: $primary-client-color;
    }

    // Inactive switch styling
    &.switch-inactive {
        margin-top: 3px;
    }
}























/**/
