.jspScrollable {
}

.jspContainer {
    width: 100% !important;
}

.jspHorizontalBar {
    display: none;
}

.jspVerticalBar,
.jspTrack {
    width: 10px;
    //height: $search-results-height !important;

    background-color: $primary-client-color;
}

.jspDrag {
    width: 8px;
    margin-left: 1px;

    background-color: $white;
    border-radius: 8px;
}
