$breakpoint-classes: (
    small,
    medium,
    large,
    xlarge,
    xxlarge,
);

$breakpoints: (
    small: 0,
    medium: 768px,
    large: 1024px,
    xlarge: 1200px,
    xxlarge: 1440px,
);

.row {
    position: relative;

    &.row--1100 {
        max-width: 1100px;
        margin: auto;
    }

    &.row--1185 {
        max-width: 1185px;
        margin: auto;
    }
}

$gutter: null;

$grid-row-width: 1250px;

$grid-column-gutter: (
    small: 15px,
    medium: 20px,
    large: 20px,
);

$grid-column-align-edge: true;
