/*
    --------------------------
        TABLE OF CONTENTS
    --------------------------

    1. GLOBAL STYLES
    2. COLORS
        2.1 CLIENT COLORS
        2.2 BASE COLORS
        2.3 CONTRAST COLORS
        2.4 SOCIAL MEDIA COLORS

    3. BASE
        -- FONTS --
            3.1 HEADINGS
            3.2 OTHER FONTS CLASSES
            3.3 PARAGRAPH
            3.4 LEAD
        3.5 PAGE
        3.6 IMAGES
        3.7 IFRAME
        3.8 LIST

    4. COMPONENTS
        4.1 BUTTONS
        4.2 FORMS
        4.3 HERO SLIDER
        -- LAYOUT HEADER --
            4.4 LAYOUT HEADER
            4.5 SEARCH
        4.6 BREADCRUMBS
        4.7 ARTICLE MODULES
        4.8 SEARCH SWITCH
        4.9 PAGINATION
        4.10 BOX ITEM

    5. HELPERS

*/

//----------------------------------//
//    1. GLOBAL STYLES
//----------------------------------//
$dcum-clip: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
$dcum-bottom-box-shadow: 0 4px 35px -2px rgba($black, 0.4);
// Hover
$dcum-hover-scale: scale(1.1);
$dcum-hover-transition: 0.1s;
$dcum-y-skew: 4deg;



//----------------------------------//
//    2. COLORS
//----------------------------------//
$orange: #cb5226;
$baby-blue: #DAECEE;

/*-------- 2.1 CLIENT COLORS --------*/
$primary-client-color: $orange;
$secondary-client-color: $baby-blue;

/*-------- 2.2 BASE COLORS --------*/

$dark-black: #000;
$black: #202020;
$light-black: #292929;

$white: #ffffff;

$green: #00FF00;
$army-green: #b7944d;

$purple: #4e2059;

$coral: #FF6B6B;

$blue: #283b5f;
$dark-blue: #173861;

$sand: #F7E1B8;

$gold: #AF9A59;

$light-grey: #e7e8e9;
$grey: #6f6f6e;
$dark-grey: #4c4c4c;
$switch-grey: #d7d7d7;
$pagination-grey: #7b7b7b;

$redwine: #8D1733;
$error-red: #a94442;

$foundation-palette: (
    primary: $primary-client-color,
    secondary: $secondary-client-color,
    alert: $error-red,
);

/*-------- 2.3 CONTRAST COLORS --------*/
$primary-client-color-contrast: adjust-color(
    $primary-client-color,
    $lightness: 5%
);

$purple-contrast: adjust-color(
    $purple,
    $lightness: -6%
);

$gold-contrast: adjust-color(
    $gold,
    $lightness: -6%
);

$black-contrast: adjust-color(
    $black,
    $lightness: -6%
);

/*-------- 2.4 SOCIAL MEDIA COLORS --------*/
$facebook-color: #3b5998;
$youtube-color: #cd201f;
$linkedin-color: #125688;
$google-color: #dc4e41;
$instagram-color: #3f729b;
$twitter-color: #00aced;
$pinterest-color: #cb2027;

$facebook-contrast: adjust-color(
    $facebook-color,
    $lightness: 5%
);

$linkedin-contrast: adjust-color(
    $linkedin-color,
    $lightness: -6%
);

$google-contrast: adjust-color(
    $google-color,
    $lightness: -6%
);




//----------------------------------//
//    3. BASE
//----------------------------------//

/*-------- 3.1 HEADINGS --------*/
$headings-transform: none;
$headings-font-weight: 400;
$headings-color: $primary-client-color;
// h1
$h1-font-size: 48px;
$h1-font-size-reduction: 10px;
$h1-margin-size-small: 0 0 30px 0;
$h1-margin-size-medium: 0 0 50px 0;
// h2
$h2-font-size: 18px;
$h2-font-size-reduction: 2px;
// Font stack headings
$font-stack-headings: 'Breuer', sans-serif;

/*-------- 3.2 OTHER FONT CLASSES --------*/
// Heading 1
$heading-1-font-size: 48px;
$heading-1-font-size-reduction: 0px;

// Heading 2
$heading-2-font-size: 30px;
$heading-2-font-size-reduction: 0px;

// Heading 3
$heading-3-font-size: 24px;
$heading-3-font-size-reduction: 0px;

/*-------- 3.3 PARAGRAPH --------*/
$paragraph-font-size: 16px;
$paragraph-font-size-reduction: 3px;
$paragraph-lineheight: 1.8;
$global-lineheight: 1.8;
$body-font-family: 'Helvetica', Arial, sans-serif;
// Anchor
$anchor-color: $primary-client-color;
$anchor-decoration: none;
$anchor-hover-color: $primary-client-color;
$anchor-hover-decoration: underline;
// Blockquote
$blockquote-max-width: 450px;
$blockquote-margin-small: 30px auto;
$blockquote-margin-medium: 80px auto;
$blockquote-padding-small: 0 0 0 30px;
$blockquote-padding-medium: 0 0 0 30px;
$blockquote-border-size: 0;
$blockquote-border-color: transparent;

/*-------- 3.4 LEAD --------*/
$lead-font-size: $paragraph-font-size * 1.5;
$lead-lineheight: 1.5;

/*-------- 3.5 PAGE --------*/
$main-background-color: $white;
$html-background-color: $dark-blue;
$body-background-color: transparent;
$selection-background-color: $primary-client-color;
$selection-color: $white;

/*-------- 3.6 IMAGES --------*/
$img-border-radius: $global-radius;

/*-------- 3.7 IFRAME --------*/

/*-------- 3.8 LIST --------*/
$ul-margin: 1em 0;
$ul-padding: 2em;




//----------------------------------//
//    4. COMPONENTS
//----------------------------------//

/*-------- 4.1 BUTTONS --------*/
// Custom variables
$button-border-size: 1px;
$button-font-size: 18px;
$button-height: 40px;
$button-vertical-padding: ($button-height - $button-font-size - 2 * $button-border-size) / 2;

$button-padding: $button-vertical-padding 1em;
//$button-margin:;
//$button-fill:;
$button-background: $black;
$button-background-hover: $black-contrast;
//$button-color:;
//$button-color-alt:;
//$button-radius:;
$button-sizes: (
    default: rem-calc($button-font-size),
);
//$button-opacity-disabled:;

/*-------- 4.2 FORMS --------*/
$form-font-stack: Georgia, Times, Times New Roman, serif;
$input-font-size: rem-calc(16px);
$input-background: transparent;
$input-border: 1px solid $white;
$input-placeholder-color: $white;
$input-background-focus: transparent;
$input-border-focus: 1px solid $white;
$input-shadow-focus: none;
$input-color: $white;

/*-------- 4.3 HERO SLIDER --------*/
$hero-caption-width: 520px;
$hero-caption-height: 410px;

/*-------- 4.4 LAYOUT HEADER --------*/
$layout-header-height: 136px;
$layout-header-max-width: 750px;
// Reveal
$reveal-background: rgba($dark-blue, 0.9);
$reveal-width: 100%;
$reveal-max-width: $grid-row-width;
$reveal-padding:;
$reveal-border: none;
//$reveal-radius
//$reveal-zindex
//$reveal-overlay-background:;

/*-------- 4.4 SEARCH --------*/
$search-results-height: 470px;


/*-------- 4.6 BREADCRUMBS --------*/
$breadcrumbs-margin: 10px 0;
$breadcrumbs-item-font-size: $paragraph-font-size;
$breadcrumbs-item-color: $black;
$breadcrumbs-item-color-current: $black;
$breadcrumbs-item-margin: 10px;
$breadcrumbs-item-uppercase: false;
$breadcrumbs-item-slash: false;

/*-------- 4.7 ARTICLE MODULES --------*/
$module-padding: 60px;
$text-column-gutter: 80px;
$lead-margin-bottom: 65px;


/*-------- 4.8 SEARCH SWITCH --------*/
$switch-width: 115px;
$switch-background: transparent;
$switch-background-active:;
$switch-height: 26px;
$switch-height-tiny:;
$switch-radius:;
$switch-margin:;
$switch-paddle-background: $white;
//$switch-paddle-offset:;
$switch-paddle-radius: 100%;
$switch-paddle-transition: 0.1s;

/*-------- 4.9 PAGINATION --------*/
$pagination-font-size: rem-calc(14px);
$pagination-margin-bottom:;
$pagination-item-color: $white;
$pagination-item-padding:;
$pagination-item-spacing: rem-calc(10px);
$pagination-radius: 100%;
$pagination-item-background: $pagination-grey;
$pagination-item-background-hover: $redwine;
$pagination-item-background-current: $redwine;
$pagination-item-color-current: $white;
$pagination-item-color-disabled:;
$pagination-ellipsis-color: $white;
$pagination-mobile-items: true;
$pagination-arrows:;

/*-------- 4.10 BOX ITEM --------*/
$box-item-padding: 20px;




//----------------------------------//
//    5. HELPERS
//----------------------------------//

/*-------- 5.1 CONTENT MARGIN --------*/
$content-margin-small: 30px;
$content-margin-medium: 40px;























/**/
