.box-item__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    height: 260px;
    overflow: hidden;
    padding: $box-item-padding;

    background-color: rgba($black, 0.9);

    color: $white;

    .button {
        position: absolute;
        bottom: $box-item-padding;
        right: $box-item-padding;

        margin: 0;
    }


    // MODIFIERS
    .flex-grid__item & {
        height: 200px;
    }

    .box-item--no-image & {
        position: relative;

        min-height: 100%;
        height: auto;

        background-color: $army-green;

        color: $black;
    }

    .box-item--message & {
        padding: 0;

        background-color: $purple;

        .message {
            min-height: 100%;
            padding: 20px;

            @include vertical-center;


            // Removes full screen box
            &::before {
                content: none;
            }
        }
    }
}

.box-item__heading {
    font-family: $form-font-stack;
    font-style: italic;
    color: $white,
}

.box-item__paragraph-flex {
    @include vertical-center;

    right: 30px;
    left: 30px;
}

.box-item__button-flex.box-item__button-flex {
    position: absolute;
    bottom: 30px;
    right: 30px;

    margin: 0;
}
