.box-item {
    position: relative;
    min-height: 100%;

    margin-bottom: 20px;

    background-size: cover;
    background-position: center center;

    img {
        display: block;
        width: 100%;
        max-width: none;
    }


    // Modifies
    &.box-item--no-image {
        position: relative;

        background-color: $army-green;

        color: $black;
    }
}


// MODIFIERS
.box-item--purple,
.box-item--redwine,
.box-item--gold,
.box-item--dark-blue,
.box-item--baby-blue,
.box-item--coral,
.box-item--sand {
    padding: 30px;

    color: $white;

    a {
        line-height: 1;
        color: $white;
    }
}


.box-item {

    &--purple {
        background-color: $purple;

        color: $coral;
    }
}

.box-item {

    &--redwine {
        background-color: $redwine;
    }
}

.box-item {

    &--gold {
        background-color: $gold;
    }
}

.box-item {

    &--dark-blue {
        background-color: $dark-blue;
    }
}

.box-item {

    &--coral {
        background-color: $coral;

        .box-item__heading {
            color: $black;
        }
    }
}

.box-item {

    &--orange {
        background-color: $orange;
    }
}

.box-item.box-item {

    &--sand {
        background-color: $sand;

        color: $black;

        .box-item__heading {
            color: $dark-blue;
        }

        .box-item__button-flex {
            border: 1px solid $dark-blue;

            color: $dark-blue;


            // Hover styles
            &:hover,
            &:active,
            &:focus {
                background-color: $dark-blue;
                border: 1px solid $dark-blue;

                color: $white;
            }
        }
    }
}

.box-item.box-item {

    &--baby-blue {
        background-color: $baby-blue;

        color: $primary-client-color;

        .box-item__heading {
            color: $primary-client-color;
        }

        .box-item__button-flex {
            border: 1px solid $primary-client-color;
            color: $primary-client-color;


            // Hover styles
            &:hover,
            &:active,
            &:focus {
                background-color: $primary-client-color;
                border: 1px solid $primary-client-color;

                color: $white;
            }
        }
    }
}
