.calculator__grid {
    @include grid-row($columns: 2);
}

.calculator__grid-item {
    position: relative;

    /*
    &:nth-child(1) {
        left: -(map-get($grid-column-gutter, large) + 10px);
    }

    &:nth-child(2) {
        right: -(map-get($grid-column-gutter, large) + 10px);
    }
    */

    @include grid-column($columns: 1 of 2, $gutter: 80px);
}
