.flex-grid__container {
    height: calc(100vh - #{$layout-header-height});
    min-height: 800px;
    max-height: 800px;

    padding-top: 30px;
    padding-bottom: 10px;

    background-color: $switch-grey;
}

.flex-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;

    position: relative;

    height: 50%;
}

.flex-grid__item {
    height: 100%;
    padding-bottom: 20px;

    @include flex-grid-column(null, 20px);


    // Min width on items
    &.width-335 {
        min-width: 335px;

        &--max {
            max-width: 335px;
        }
    }

    &.width-270 {
        min-width: 270px;

        &--max {
            max-width: 270px;
        }
    }

    &.width-450 {
        min-width: 450px;

        &--max {
            max-width: 450px;
        }
    }
}
