/*
    #1 CONTAINER
    #2 MESSAGE
    #3 BUTTON
    #4 LOGO
*/

//---------------------//
//    #1 CONTAINER
//---------------------//

.cc_banner-wrapper {
    z-index: 999999999999 !important;
}

.cc_container {
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    padding: 15px !important;
    background-color: rgba($black, 0.9) !important;
    box-shadow: 0 -2px 6px 0px rgba(0,0,0,0.2) !important;
    border: none !important;
    border-radius: 0 !important;
    margin: auto;


    // Media styles
    @include breakpoint(medium) {

        padding: 30px 5em !important;
    }

    @include breakpoint(large) {

        padding: 30px 10em !important;
    }

    @include breakpoint(xlarge) {

        padding: 30px 20em !important;
    }

    @media screen and (min-width: 1400px) {

        padding: 30px 25em !important;
    }


    @media screen and (min-width: 1600px) {

        padding: 30px 30em !important;
    }

    @media screen and (min-width: 2000px) {

        padding: 30px 50em !important;
    }
}




//---------------------//
//    #2 MESSAGE
//---------------------//

.cc_message {

}

.cc_container p {

    span {
        display: block !important;
        margin-bottom: 2px !important;
        text-transform: uppercase !important;
        font-weight: 700 !important;
    }
}

.cc_container p::selection {
    background-color: $primary-client-color;
    color: $white;
}

.cc_container p,
.cc_message {
    padding-bottom: 27px !important;
    margin: auto !important;
    color: $white !important;


    // Media styles
    @include breakpoint(medium) {

        padding-bottom: 0 !important;
        padding-right: 75px !important;
    }
}

.cc_container p,
.cc_container a {
    line-height: kgr-line-height(26px, $paragraph-font-size) !important;
    font-weight: 400 !important;
    font-family: $font-stack-paragraph !important;
    font-size: kgr-rem($paragraph-font-size - $paragraph-font-size-reduction) !important;
}

.cc_container a {
    color: $white !important;
    text-decoration: underline !important;
}





//---------------------//
//    #3 BUTTON
//---------------------//

.cc_btn {
    bottom: 15px !important;
    width: 150px !important;
}

.cc_container .cc_btn {
    display: block;
    position: absolute !important;
    top: auto;
    right: auto !important;
    left: 15px !important;
    bottom: 15px !important;
    width: 65px !important;
    margin: 0 !important;
    padding: 0 !important;
    outline: none !important;
    background-color: $white !important;
    border: 1px solid $lightGrey !important;
    border-radius: $global-radius !important;
    color: $black !important;
    text-decoration: none !important;


    // Hover styles
    &:hover,
    &:active,
    &:focus {
        text-decoration: none !important;
    }


    // Media styles
    @include breakpoint(medium) {

        position: relative !important;
        top: 0 !important;
        bottom: auto !important;
        float: right;
    }
}




//---------------------//
//    #4 LOGO
//---------------------//

.cc_logo {
    display: none !important;
}
