@media only screen and (max-width: 767px) {
  /* line 6, C:/Work/DCUM/konggulerod newstartup/styles/responsive.scss */
  .layout-header .layout-header__container .search__input-container {
    width: 57px; }
    /* line 8, C:/Work/DCUM/konggulerod newstartup/styles/responsive.scss */
    .layout-header .layout-header__container .search__input-container input::-webkit-input-placeholder {
      color: #fff !important; }
  /* line 12, C:/Work/DCUM/konggulerod newstartup/styles/responsive.scss */
  .layout-header .layout-header__container .column:last-child:not(:first-child), .layout-header .layout-header__container .columns:last-child:not(:first-child) {
    float: left; } }

/*# sourceMappingURL=responsive.css.map */