@media only screen and (max-width:767px){
    
    //HEADER MOBIL STYLE
    .layout-header{
        .layout-header__container{
            .search__input-container{
                width: 57px;
                input::-webkit-input-placeholder {
                color: #fff !important;
                }
            }
            .column:last-child:not(:first-child), .columns:last-child:not(:first-child){
                float: left;
            }
        }
    }
    
}