@import "oldcss.css";
@import "responsive.css";


// COLOR'S
.box-item--coral{
    background-color: #FF6B6B;
}

.box-item--purple{
    background-color: #4E2059;
}

.box-item--baby-blue{
    background-color: #DAECEE;
}

.box-item--redwine{
    background-color: #8D1733;
}

.box-item--sand{
    background-color: #F7E1B8;
}
    

//MY STYLE TO DCUM


body{
    position: relative;
    height: 100%;
    min-height: 100%;
}

.event{
    .menu-box{
        background-color: #4E2059; 
        color:#fff;
        h2{
            margin-bottom: 0px;
        }
        .categori{
            display: inline-block;
            margin: 15px 0px 35px;
            color:#fff;
        }
        ul{
            li{
                margin-bottom: 40px;
                i{
                    color:#FF6B6B;
                    font-size: 22px;
                    width: 26px;
                    margin-right: 15px;
                    text-align: center;
                }
            }
            li:after{
                content: "";
            }
        }
    }
}

.event-btn{
    color:#4E2059;
    border: 1px solid #4b1f5c;
    padding: 10px 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

.social-share-bar{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    padding-right: 10px;
    ul{
        padding:5px 0px;
        list-style-type: none;
        border: 1px solid #ccc;
        display: inline-block;
        margin-top: 0px;
        float: right;
        margin-right: 15px;
        li:before{
            content:"";
        }
        li{
            float: left;
            padding: 0px 15px;
            border-left: 1px solid #ccc;
            a{
                color: #000;
                transition: all 0.5s;
                &:hover{
                    color:#cb5226;
                    transition: all 0.1s;
                }
            }
        }
        li:first-child{
            border:none;
        }
    }
    .print{
        color:#333;
        float: right;
        border:1px solid #ccc;
        padding: 3.5px 15px;
    }
}


//INFO-SITE
.info-site{
    .menu-box{
        background-color: #0b3b5f;
    }
}

.article-blockquote__cite:after  {
    
    content: '';
    
    position: absolute;
    top: -10px;
    left: -145px;
    
    width: 130px;
    height: 45px;
    
    background-image: url('/assets/images/quote.svg');
    background-repeat: no-repeat;
    background-position: center center; 
}


//THEME-SITE
.theme-site{
    background-color: #ccc;
    .theme-header__content {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        max-width: 485px;
        padding: 40px;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(23,56,97,.9);
        }
        .read-more{
            color:#fff;
            border:1px solid #fff;
            position: absolute;
            z-index: 1;
            bottom: 35px;
            right: 35px;
            padding: 8px 10px;
            transition: all 0.3s;
            &:hover{
                background-color: #fff;
                color: #202020;
                transition: all 0.3s;
                text-decoration: none;
            }
        }
        h1{
            font-size: 4rem;
        }
    }
    .theme-article{
        position: relative;
        overflow: hidden;
        height: 450px;
        margin-top: 30px;
        background-size: cover;
        background-position: center center;
        margin-bottom: 15px;
        color:#fff;
        .header__content{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 55%;
            padding: 20px;
            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(32,32,32,.9); 
            }
            .read-more{
                bottom: 20px;
                right: 20px;
                position: absolute;
                color: #fff;
                z-index: 1;
                border: 1px solid;
                padding: 8px 10px;
                transition: all 0.3s;
                &:hover{
                    background-color: #fff;
                    color: #202020;
                    transition: all 0.3s;
                    text-decoration: none;
                }
            }
            .heading--3{
                position: relative;
                z-index: 1;
                margin-bottom: 8px;
                margin-top: 8px;
            }
            .article-header__time{
                margin-bottom: 0px;
            }
        }
    }
    .color-theme{
        background-color: #AF9A59;
        padding: 20px;
        width: 100%;
        margin-bottom: 15px;
        padding-bottom: 70px;
        position: relative;
        min-height: 260px;
        .heading--3{
            position: relative;
            z-index: 1;
            margin-bottom: 8px;
            margin-top: 8px;
            color: #fff;
        }
        p{
            color:#202020;
        }
        .read-more{
            bottom: 20px;
            right: 20px;
            position: absolute;
            color: #fff;
            z-index: 1;
            border: 1px solid #fff;
            padding: 8px 10px;
            transition: all 0.3s;
            &:hover{
                background-color: #fff;
                color: #202020;
                transition: all 0.3s;
                text-decoration: none;
            }
        }
        .article-header__time{
            margin-bottom: 0px;
            color:#202020;
        }
    }
    .article{
        width: 100%;
    }
    .info-box{
        background-color: #4E2059;
        padding: 40px;
        width: 100%;
        min-height: 260px;
        position: relative;
        p{
            font-size: 20px;
            color:#FF6B6B;
            .question{
                color: #fff;
            }
        }
        .read-more{
            bottom: 20px;
            right: 20px;
            position: absolute;
            color: #fff;
            z-index: 1;
            border: 1px solid #fff;
            padding: 8px 10px;
            transition: all 0.3s;
            &:hover{
                background-color: #fff;
                color: #202020;
                transition: all 0.3s;
                text-decoration: none;
            }
        }
    }
}

.site-wrapper{
    display: table;
    width: 100%;
    min-height: 100%;
    .site-wrapper-inner{
        display: table-cell;
        vertical-align: middle;
    }
}


//GLOBAL ITEMS
.info-box{
    background-color: #c8e8e9;
    padding: 20px;
    color:#000;
    margin-bottom: 25px;
    width: 100%;
    min-height: 260px;
    h2{
        color:#cb5226;
        margin-bottom: 10px;
    }
    ul{
        padding:0px;
        li:before{
            content:">";
            color: #000;
        }
        li{
            margin-bottom: 20px;
            a{
                color:#000;
            }
        }
    }
}

//OVERRIGHT
.search__button--with-switch{
    margin-right: 0px;
}

@media only screen and (max-width:992px){
    
}


@media only screen and (max-width:767px){
    .theme-site .theme-header__content{
        top: initial;
        
    }
    .theme-site{
        .info-box{
            padding: 20px;
            .read-more{
                margin-top: 5px;
                font-size: 22px;
                padding: 5px 10px;
                display: block;
                position: relative;
                bottom: initial;
                right: initial;
                padding: 5px 10px  
            }
        }
        .article-header{
            .theme-header__content{
                position: absolute;
                bottom:(0 !important);
                right: 0;
                width: 100%;
                height: 66%;
                max-width: 100%;
                padding: 20px;
                &::after{
                    bottom:(0 !important);
                    right: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .theme-article{
            .header__content{
                height: 58%;
                .article-header__update{
                    font-size: 15px;
                }
                .read-more{
                    margin-top: 5px;
                    font-size: 22px;
                    padding: 5px 10px;
                    display: block;
                    position: relative;
                    bottom: initial;
                    right: initial;
                    padding: 5px 10px;
                }
            }   
        }
        .color-theme{
            .header__content{
                .article-header__update{
                    font-size: 15px;
                }
                .read-more{
                    margin-top: 5px;
                    font-size: 22px;
                    padding: 5px 10px;
                    display: block;
                    position: relative;
                    bottom: initial;
                    right: initial;
                    padding: 5px 10px;
                }
            }
        }
        .theme-header__content{
            .article-header__titel{
                font-size: 2.5rem;
            }
            .article-header__update{
                font-size: 16px;
            }
            .article-header__time{
                margin-bottom: 0px;
            }
            .article-header__update{
                margin-bottom: 0px;
            }
            .read-more{
                margin-top: 5px;
                font-size: 22px;
                display: block;
                position: relative;
                bottom: initial;
                right: initial;
                padding: 5px 10px;
            }
        }
    }
    .article-navigation{
        height: 60px;
        transition: all 0.5s;
        padding: 15px 20px;
        .heading--3{
            &::after{
                content: "Vis alle";
                float: right;
                font-weight: 700;
                font-size: 18px;
                margin-top: 5px;
                cursor: pointer;
            }
        }
    }
    .sidemenu-open{
        height: 675px;
        transition: all 0.5s;
        .heading--3{
            &::after{
                content: "Luk";
            }
        }
    }
    .read-more{
        color: #fff;
        border: 1px solid #fff;
        position: relative;
        z-index: 1;
        transition: all .3s;
        display: block;
        text-align: center;
        font-size: 25px;
        font-family: Breuer,sans-serif;
        margin-top: 30px; 
    }
    .theme-site .theme-header__content{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        max-width: 485px;
        padding: 40px;
    }
    .theme-site .theme-header__content::after{
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(23,56,97,.9);
    }
    .theme-site .theme-header__content .read-more{
        color: #fff;
        border: 1px solid #fff;
        position: relative;
        z-index: 1;
        transition: all .3s;
        display: block;
        text-align: center;
        font-size: 25px;
        font-family: Breuer,sans-serif;
        margin-top: 30px;
        top:inherit;
        bottom: inherit;
        right: 0px;
    }
    
}
