@import url(oldcss.css);
@import url(responsive.css);
/* line 6, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
.box-item--coral {
  background-color: #FF6B6B; }

/* line 10, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
.box-item--purple {
  background-color: #4E2059; }

/* line 14, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
.box-item--baby-blue {
  background-color: #DAECEE; }

/* line 18, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
.box-item--redwine {
  background-color: #8D1733; }

/* line 22, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
.box-item--sand {
  background-color: #F7E1B8; }

/* line 30, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
body {
  position: relative;
  height: 100%;
  min-height: 100%; }

/* line 37, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
.event .menu-box {
  background-color: #4E2059;
  color: #fff; }
  /* line 40, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
  .event .menu-box h2 {
    margin-bottom: 0px; }
  /* line 43, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
  .event .menu-box .categori {
    display: inline-block;
    margin: 15px 0px 35px;
    color: #fff; }
  /* line 49, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
  .event .menu-box ul li {
    margin-bottom: 40px; }
    /* line 51, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
    .event .menu-box ul li i {
      color: #FF6B6B;
      font-size: 22px;
      width: 26px;
      margin-right: 15px;
      text-align: center; }
  /* line 59, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
  .event .menu-box ul li:after {
    content: ""; }

/* line 66, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
.event-btn {
  color: #4E2059;
  border: 1px solid #4b1f5c;
  padding: 10px 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block; }

/* line 76, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
.social-share-bar {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  padding-right: 10px; }
  /* line 81, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
  .social-share-bar ul {
    padding: 5px 0px;
    list-style-type: none;
    border: 1px solid #ccc;
    display: inline-block;
    margin-top: 0px;
    float: right;
    margin-right: 15px; }
    /* line 89, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
    .social-share-bar ul li:before {
      content: ""; }
    /* line 92, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
    .social-share-bar ul li {
      float: left;
      padding: 0px 15px;
      border-left: 1px solid #ccc; }
      /* line 96, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
      .social-share-bar ul li a {
        color: #000;
        transition: all 0.5s; }
        /* line 99, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
        .social-share-bar ul li a:hover {
          color: #cb5226;
          transition: all 0.1s; }
    /* line 105, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
    .social-share-bar ul li:first-child {
      border: none; }
  /* line 109, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
  .social-share-bar .print {
    color: #333;
    float: right;
    border: 1px solid #ccc;
    padding: 3.5px 15px; }

/* line 120, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
.info-site .menu-box {
  background-color: #0b3b5f; }

/* line 125, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
.article-blockquote__cite:after {
  content: '';
  position: absolute;
  top: -10px;
  left: -145px;
  width: 130px;
  height: 45px;
  background-image: url("/assets/images/quote.svg");
  background-repeat: no-repeat;
  background-position: center center; }

/* line 143, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
.theme-site {
  background-color: #ccc; }
  /* line 145, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
  .theme-site .theme-header__content {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: 485px;
    padding: 40px; }
    /* line 153, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
    .theme-site .theme-header__content::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(23, 56, 97, 0.9); }
    /* line 162, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
    .theme-site .theme-header__content .read-more {
      color: #fff;
      border: 1px solid #fff;
      position: absolute;
      z-index: 1;
      bottom: 35px;
      right: 35px;
      padding: 8px 10px;
      transition: all 0.3s; }
      /* line 171, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
      .theme-site .theme-header__content .read-more:hover {
        background-color: #fff;
        color: #202020;
        transition: all 0.3s;
        text-decoration: none; }
    /* line 178, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
    .theme-site .theme-header__content h1 {
      font-size: 4rem; }
  /* line 182, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
  .theme-site .theme-article {
    position: relative;
    overflow: hidden;
    height: 450px;
    margin-top: 30px;
    background-size: cover;
    background-position: center center;
    margin-bottom: 15px;
    color: #fff; }
    /* line 191, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
    .theme-site .theme-article .header__content {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 55%;
      padding: 20px; }
      /* line 198, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
      .theme-site .theme-article .header__content::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(32, 32, 32, 0.9); }
      /* line 207, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
      .theme-site .theme-article .header__content .read-more {
        bottom: 20px;
        right: 20px;
        position: absolute;
        color: #fff;
        z-index: 1;
        border: 1px solid;
        padding: 8px 10px;
        transition: all 0.3s; }
        /* line 216, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
        .theme-site .theme-article .header__content .read-more:hover {
          background-color: #fff;
          color: #202020;
          transition: all 0.3s;
          text-decoration: none; }
      /* line 223, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
      .theme-site .theme-article .header__content .heading--3 {
        position: relative;
        z-index: 1;
        margin-bottom: 8px;
        margin-top: 8px; }
      /* line 229, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
      .theme-site .theme-article .header__content .article-header__time {
        margin-bottom: 0px; }
  /* line 234, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
  .theme-site .color-theme {
    background-color: #AF9A59;
    padding: 20px;
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 70px;
    position: relative;
    min-height: 260px; }
    /* line 242, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
    .theme-site .color-theme .heading--3 {
      position: relative;
      z-index: 1;
      margin-bottom: 8px;
      margin-top: 8px;
      color: #fff; }
    /* line 249, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
    .theme-site .color-theme p {
      color: #202020; }
    /* line 252, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
    .theme-site .color-theme .read-more {
      bottom: 20px;
      right: 20px;
      position: absolute;
      color: #fff;
      z-index: 1;
      border: 1px solid #fff;
      padding: 8px 10px;
      transition: all 0.3s; }
      /* line 261, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
      .theme-site .color-theme .read-more:hover {
        background-color: #fff;
        color: #202020;
        transition: all 0.3s;
        text-decoration: none; }
    /* line 268, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
    .theme-site .color-theme .article-header__time {
      margin-bottom: 0px;
      color: #202020; }
  /* line 273, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
  .theme-site .article {
    width: 100%; }
  /* line 276, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
  .theme-site .info-box {
    background-color: #4E2059;
    padding: 40px;
    width: 100%;
    min-height: 260px;
    position: relative; }
    /* line 282, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
    .theme-site .info-box p {
      font-size: 20px;
      color: #FF6B6B; }
      /* line 285, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
      .theme-site .info-box p .question {
        color: #fff; }
    /* line 289, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
    .theme-site .info-box .read-more {
      bottom: 20px;
      right: 20px;
      position: absolute;
      color: #fff;
      z-index: 1;
      border: 1px solid #fff;
      padding: 8px 10px;
      transition: all 0.3s; }
      /* line 298, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
      .theme-site .info-box .read-more:hover {
        background-color: #fff;
        color: #202020;
        transition: all 0.3s;
        text-decoration: none; }

/* line 308, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
.site-wrapper {
  display: table;
  width: 100%;
  min-height: 100%; }
  /* line 312, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
  .site-wrapper .site-wrapper-inner {
    display: table-cell;
    vertical-align: middle; }

/* line 320, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
.info-box {
  background-color: #c8e8e9;
  padding: 20px;
  color: #000;
  margin-bottom: 25px;
  width: 100%;
  min-height: 260px; }
  /* line 327, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
  .info-box h2 {
    color: #cb5226;
    margin-bottom: 10px; }
  /* line 331, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
  .info-box ul {
    padding: 0px; }
    /* line 333, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
    .info-box ul li:before {
      content: ">";
      color: #000; }
    /* line 337, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
    .info-box ul li {
      margin-bottom: 20px; }
      /* line 339, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
      .info-box ul li a {
        color: #000; }

/* line 347, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
.search__button--with-switch {
  margin-right: 0px; }

@media only screen and (max-width: 767px) {
  /* line 357, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
  .theme-site .theme-header__content {
    top: initial; }
  /* line 362, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
  .theme-site .info-box {
    padding: 20px; }
    /* line 364, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
    .theme-site .info-box .read-more {
      margin-top: 5px;
      font-size: 22px;
      padding: 5px 10px;
      display: block;
      position: relative;
      bottom: initial;
      right: initial;
      padding: 5px 10px; }
  /* line 376, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
  .theme-site .article-header .theme-header__content {
    position: absolute;
    bottom: 0 !important;
    right: 0;
    width: 100%;
    height: 66%;
    max-width: 100%;
    padding: 20px; }
    /* line 384, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
    .theme-site .article-header .theme-header__content::after {
      bottom: 0 !important;
      right: 0;
      width: 100%;
      height: 100%; }
  /* line 393, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
  .theme-site .theme-article .header__content {
    height: 58%; }
    /* line 395, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
    .theme-site .theme-article .header__content .article-header__update {
      font-size: 15px; }
    /* line 398, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
    .theme-site .theme-article .header__content .read-more {
      margin-top: 5px;
      font-size: 22px;
      padding: 5px 10px;
      display: block;
      position: relative;
      bottom: initial;
      right: initial;
      padding: 5px 10px; }
  /* line 412, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
  .theme-site .color-theme .header__content .article-header__update {
    font-size: 15px; }
  /* line 415, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
  .theme-site .color-theme .header__content .read-more {
    margin-top: 5px;
    font-size: 22px;
    padding: 5px 10px;
    display: block;
    position: relative;
    bottom: initial;
    right: initial;
    padding: 5px 10px; }
  /* line 428, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
  .theme-site .theme-header__content .article-header__titel {
    font-size: 2.5rem; }
  /* line 431, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
  .theme-site .theme-header__content .article-header__update {
    font-size: 16px; }
  /* line 434, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
  .theme-site .theme-header__content .article-header__time {
    margin-bottom: 0px; }
  /* line 437, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
  .theme-site .theme-header__content .article-header__update {
    margin-bottom: 0px; }
  /* line 440, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
  .theme-site .theme-header__content .read-more {
    margin-top: 5px;
    font-size: 22px;
    display: block;
    position: relative;
    bottom: initial;
    right: initial;
    padding: 5px 10px; }
  /* line 451, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
  .article-navigation {
    height: 60px;
    transition: all 0.5s;
    padding: 15px 20px; }
    /* line 456, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
    .article-navigation .heading--3::after {
      content: "Vis alle";
      float: right;
      font-weight: 700;
      font-size: 18px;
      margin-top: 5px;
      cursor: pointer; }
  /* line 466, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
  .sidemenu-open {
    height: 675px;
    transition: all 0.5s; }
    /* line 470, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
    .sidemenu-open .heading--3::after {
      content: "Luk"; }
  /* line 475, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
  .read-more {
    color: #fff;
    border: 1px solid #fff;
    position: relative;
    z-index: 1;
    transition: all 0.3s;
    display: block;
    text-align: center;
    font-size: 25px;
    font-family: Breuer,sans-serif;
    margin-top: 30px; }
  /* line 487, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
  .theme-site .theme-header__content {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: 485px;
    padding: 40px; }
  /* line 496, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
  .theme-site .theme-header__content::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 56, 97, 0.9); }
  /* line 505, C:/Work/DCUM/konggulerod newstartup/styles/styles.scss */
  .theme-site .theme-header__content .read-more {
    color: #fff;
    border: 1px solid #fff;
    position: relative;
    z-index: 1;
    transition: all 0.3s;
    display: block;
    text-align: center;
    font-size: 25px;
    font-family: Breuer,sans-serif;
    margin-top: 30px;
    top: inherit;
    bottom: inherit;
    right: 0px; } }

/*# sourceMappingURL=styles.css.map */